priority -30

snippet book "myUltiSnips" b
BookmarkBegin
BookmarkTitle: ${1:1}
BookmarkLevel: ${2:1}
BookmarkPageNumber: $3
book$0
endsnippet

snippet info "myUltiSnips" b
InfoBegin
InfoKey: Title
InfoValue: $1
InfoBegin
InfoKey: Author
InfoValue: $2
InfoBegin
InfoKey: Keywords
InfoValue: $3
InfoBegin
InfoKey: Subject
InfoValue: $0
endsnippet

